# Complete Pandas

## Pandas Series

In [3]:
import numpy as np
import pandas as pd

# Series as a List

# i use two variable in a whole pandas
# df = data frame
# s = series

country = ['Pakistan','India','Iran','Bangladesh','England']
s = pd.Series(country)
print(s)

runs = [90,100,102,300,400]
s = pd.Series(runs)
print(s)

0      Pakistan
1         India
2          Iran
3    Bangladesh
4       England
dtype: object
0     90
1    100
2    102
3    300
4    400
dtype: int64

In [7]:
# custom index

marks = [100, 90, 86, 44]
subj = ['Maths','Physics','Chemistry','English']

s = pd.Series(marks, index = subj)
print(s)

Maths        100
Physics       90
Chemistry     86
English       44
dtype: int64

In [8]:
# name means hmm apne series ko aik name de dete hai
marks = [100, 90, 86, 44]
subj = ['Maths','Physics','Chemistry','English']

s = pd.Series(marks, index = subj, name = 'Owais ke marks')
print(s)

Maths        100
Physics       90
Chemistry     86
English       44
Name: Owais ke marks, dtype: int64

In [9]:
# series as a Dict

marks = {
    'maths':100,
    'Physics':90,
    'Chemistry':86,
    'English':44
}

s = pd.Series(marks)
print(s)

maths        100
Physics       90
Chemistry     86
English       44
dtype: int64

## Series Attributes

In [20]:
# ye hmm use kar skte hai series jo hmm bana chuke hai variable uske sath

# size
marks = [100, 90, 86, 44]
subj = ['Maths','Physics','Chemistry','English']

s = pd.Series(marks, index = subj, name = 'Owais ke marks')
print(s)

size = s.size
print(size)

# dtype

typ = s.dtype
print(typ)

# name means tumhare series ka name
name = s.name
print(name)

# is_unique ye btata hai apke series ke sare items unique hai ya nhi

unique = s.is_unique
print(unique)

# index ye index ka array return karta hai
idx = s.index
print(idx)

#another example for index
runs = [90,100,102,300,400]
x = pd.Series(runs)
idx = x.index
print(idx)

# values

val = s.values
print(val)

Maths        100
Physics       90
Chemistry     86
English       44
Name: Owais ke marks, dtype: int64
4
int64
Owais ke marks
True
Index(['Maths', 'Physics', 'Chemistry', 'English'], dtype='object')
RangeIndex(start=0, stop=5, step=1)
[100  90  86  44]

## Seried read_csv

In [8]:
# with one column

subs = pd.read_csv('subs.csv').squeeze("columns")
print(subs)
print(type(subs))

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
# with two column
vk = pd.read_csv('kohli_ipl.csv', index_col = 'match_no').squeeze("columns")
print(vk)
print(type(vk))

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
bw = pd.read_csv('bollywood.csv', index_col = 'movie').squeeze("columns")
print(bw)
print(type(bw))

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object
<class 'pandas.core.series.Series'>

## Seried Methods

In [9]:
# head and tail
h = subs.head(10)
print(h)
t = subs.tail()
print(t)

0    48
1    57
2    40
3    43
4    44
5    46
6    33
7    40
8    44
9    74
Name: Subscribers gained, dtype: int64
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, dtype: int64

In [53]:
# Sample ye koi se bhi dikha dega by default ye 1 dikhayega
# baki ab apne hisab se bta skte isko
sample = bw.sample(5)
print(sample)

movie
Maan Gaye Mughal-e-Azam          Mallika Sherawat
Yamla Pagla Deewana                    Nafisa Ali
The Hero: Love Story of a Spy          Sunny Deol
Running Shaadi                         Arsh Bajwa
Thugs of Hindostan                     Aamir Khan
Name: lead, dtype: object

In [9]:
# value_counts frequcncy return karta hai
print(bw)
print('\n')
count = bw.value_counts()
print(count)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object


lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [12]:
# sort_values inplace bhi option hai agar original em change karna hai to
print(vk)
a = vk.sort_values(ascending=False).head(1).values[0]
print(a)

# inplace
vk.sort_values(inplace=True)
print(vk)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64
113
match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [13]:
# sort index
print(bw)
bw.sort_index(inplace=True)
print(bw)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object
movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

## Series Maths Method

In [39]:
# count ye no. of items return karta hai but mssing value count nhi karta
# size bhi yahin karta hai but wo missing value count karta hai

print(vk)
c = vk.count()
print(c)

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64
215

In [42]:
# sum/product
print(subs)

s = subs.sum()
print(s)
p = subs.prod()
print(p)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
49510
0

In [47]:
# mean median mode std var
print(subs)
print(subs.mean())
print(subs.mode())
print(subs.median())
print(subs.std())
print(subs.var())

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
135.64383561643837
0    105
Name: Subscribers gained, dtype: int64
123.0
62.67502303725269
3928.1585127201556

In [52]:
# min / max
print(subs)
print(subs.min())
print(subs.max())

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
33
396

In [54]:
# describe

print(vk)
print(vk.describe())

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64
count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

## Boolean Indexing on Series

In [62]:
# find no. of 50s and 100s scored by kholi
print(vk)

a = vk[vk >= 50].count()
print(a)
a = vk[vk >= 100].count()
print(a)

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64
50
5

In [65]:
# find number of ducks

a = vk[vk == 0].count()
print(a)

9

In [68]:
# count number of day when i had more than 100 subs a day
print(subs)

a = subs[subs > 200].count()
print(a)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
59

In [14]:
# find actor who have more than 20 movies

print(bw)

a = bw.value_counts()
print(a)
a = a[a > 20]
print(a.index.tolist())

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object
lead
Akshay Kumar          48
Amitabh Bachchan      45
Ajay Devgn            38
Salman Khan           31
Sanjay Dutt           26
                      ..
Mukesh Khanna          1
Talha Arshad Reshi     1
Paoli Dam              1
Amita Pathak           1
Meghan Jadhav          1
Name: count, Length: 566, dtype: int64
['Akshay Kumar', 'Amitabh Bachchan', 'Ajay Devgn', 'Salman Khan', 'Sanjay Dutt', 'Shah Rukh Khan', 'Emraan Hashmi']

## Seried Methods

In [80]:
# astype
print(vk)

vk = vk.astype('float')
print(vk)

vk = vk.astype('int')
print(vk)

match_no
87       0.0
211      0.0
207      0.0
206      0.0
91       0.0
       ...
164    100.0
120    100.0
123    108.0
126    109.0
128    113.0
Name: runs, Length: 215, dtype: float64
match_no
87       0.0
211      0.0
207      0.0
206      0.0
91       0.0
       ...
164    100.0
120    100.0
123    108.0
126    109.0
128    113.0
Name: runs, Length: 215, dtype: float64
match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [83]:
# between ye range me find karta hai agar mil gaya to boolean return karta hai True aur False me

a = vk[vk.between(50,101)].count()
print(a)

47

In [86]:
# drop_duplicates() idhar keep use howa hai first ya last ke apko knsa rakhna hai aur baki knsa urana hai
temp = pd.Series([1,2,3,1,4,5,6,1,2,8,9])
temp = temp.drop_duplicates()
print(temp.values)

[1 2 3 4 5 6 8 9]

In [94]:
# duplicated ye btata hai ke duplicate hai ya nhi
temp = pd.Series([1,2,3,1,4,5,6,1,2,8,9])
print(temp.duplicated())
print(temp[temp.duplicated()])
print(temp.duplicated().sum())

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7      True
8      True
9     False
10    False
dtype: bool
3    1
7    1
8    2
dtype: int64
3

In [113]:
# Missing data
temp = pd.Series([1,2,3,4,np.nan,6,np.nan, np.nan, 9, 10])
print(temp)

print(temp.size)
print(temp.count())

0     1.0
1     2.0
2     3.0
3     4.0
4     NaN
5     6.0
6     NaN
7     NaN
8     9.0
9    10.0
dtype: float64
10
7

In [107]:
# isnull
print(temp.isnull())
a = temp.isnull().sum()
print(a)

0    False
1    False
2    False
3    False
4     True
5    False
6     True
7     True
8    False
9    False
dtype: bool
3

In [122]:
# dropna

temp.dropna()
print(temp)

0     1.0
1     2.0
2     3.0
3     4.0
4     NaN
5     6.0
6     NaN
7     NaN
8     9.0
9    10.0
dtype: float64

In [124]:
# fillna
temp = pd.Series([1,2,3,4,np.nan,6,np.nan, np.nan, 9, 10])
print(temp)

temp.fillna(0)
print(temp)

temp.fillna(temp.mean(),inplace=True)
print(temp)

0     1.0
1     2.0
2     3.0
3     4.0
4     NaN
5     6.0
6     NaN
7     NaN
8     9.0
9    10.0
dtype: float64
0     1.0
1     2.0
2     3.0
3     4.0
4     NaN
5     6.0
6     NaN
7     NaN
8     9.0
9    10.0
dtype: float64
0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     5.0
7     5.0
8     9.0
9    10.0
dtype: float64

In [128]:
# isin
print(vk)

print(vk[vk.isin([50,49,99])])

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64
match_no
86     49
15     50
182    50
82     99
Name: runs, dtype: int64

In [134]:
# apply  ye custome logic apply karne ke liye hota hai

print(bw)
# is example me mujhe full name nhi chahiye sirf first name chahiye wo bhi capital
print('\n')
print(bw.apply(lambda x:x.split()))
print('\n')
print(bw.apply(lambda x:x.split()[0].upper()))

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object


movie
1920 (film)                   [Rajniesh, Duggall]
1920: London                     [Sharman, Joshi]
1920: The Evil Returns             [Vicky, Ahuja]
1971 (2007 film)                [Manoj, Bajpayee]
2 States (2014 film)              [Arjun, Kapoor]
                                    ...
Zindagi 50-50                      [Veena, Malik]
Zindagi Na Milegi Dobara        [Hrithik, Roshan]
Zindagi Tere Naam           [Mithun, Chakraborty]
Zokkomon                       [Darsheel, Safary]
Zor Lagaa Ke...Haiya!            [Meghan, Jadhav]
Name: lead, Length: 1500, dtype: object


movie
1920 (film)                 RAJNIESH
1920: London                 SHARMAN
1920: The Evil Returns         VICKY
1971 (2007 film)               MANOJ
2 States (2014 film)           ARJUN
                              ...
Zindagi 50-50                  VEENA
Zindagi Na Milegi Dobara     HRITHIK
Zindagi Tere Naam             MITHUN
Zokkomon                    DARSHEEL
Zor Lagaa Ke...Haiya!         MEGHAN
Name: lead, Length: 1500, dtype: object

In [138]:
print(subs)

a = subs.apply(lambda x:'good day' if x > subs.mean() else 'bad day')
print(a)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
0       bad day
1       bad day
2       bad day
3       bad day
4       bad day
         ...
360    good day
361    good day
362    good day
363    good day
364    good day
Name: Subscribers gained, Length: 365, dtype: object